<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="DirLogAll" value="${basedir}/logs/All/${shortdate}"/>
	<variable name="DirLogMin" value="${basedir}/logs/MinWarn/${shortdate}"/>

	<extentions>
		<add assembly="Nlog.Web.Asp.NetCore" />
	</extentions>

	<targets>
		<target xsi:type="File" name="LogAll"
		   fileName="${DirLogAll}/nlog-${shortdate}.log"
		   deleteOldFileOnStartup="true" concurrentWrites="true"/>
		<target xsi:type="File" name="LogMin"
				fileName="${DirLogMin}/nlog-${shortdate}.log"
				deleteOldFileOnStartup="true" concurrentWrites="true"/>
		<target name="TcpOutlet" xsi:type="NLogViewer" address="tcp://localhost:4805"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="LogAll"/>
		<logger name="*" minlevel="Warn" writeTo="LogMin"/>
		<logger name="*" minlevel="Debug" writeTo="TcpOutlet"/>
	</rules>
</nlog>